<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration> 
	<session-factory>
		<property name="show_sql">true</property>
		<mapping resource="br/edu/unis/oo/negocio/Bairro.hbm.xml"/>
		<mapping resource="br/edu/unis/oo/negocio/Beneficio.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Cidade.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Deficiencia.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Escolaridade.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/HistoricoRequerimento.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Logradouro.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Moradia.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Pessoa.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Renda.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Requerimento.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Usuario.hbm.xml"/>
                <mapping resource="br/edu/unis/oo/negocio/Vinculo.hbm.xml"/>                
	</session-factory>
</hibernate-configuration>